name: build-all-seeed-boards

on:
  workflow_dispatch:
    inputs:
      build_type:
        type: choice
        description: 'Build type for all machines'
        options:
          - development
          - production
        default: 'development'
      disable_upload_downloads:
        type: boolean
        description: 'Disable upload of downloads cache (per machine workflow still can use existing cache)'
        default: true
      clean_build:
        type: boolean
        description: 'Force clean build for all machines'
        default: true
      tag_name:
        description: 'Tag name'
        required: true
        default: 'v1.0.0'
        type: string

jobs:
  Build-all-images:
    runs-on: ubuntu-latest
    permissions:
      actions: write
      contents: write
    steps:
      - name: Check tag
        id: check_tag
        run: |
          if [[ ${{ github.event_name }} == 'workflow_dispatch' ]]; then
           echo "TAG_NAME=${{ github.event.inputs.tag_name }}" >> $GITHUB_ENV
          elif [[ ${{ github.event_name }} == 'create' ]]; then
           echo "TAG_NAME=${{ github.ref }}" >> $GITHUB_ENV
          fi

      - name: Creat release
        id: create_release
        uses: actions/create-release@v1.1.4
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: ${{ env.TAG_NAME }}
          release_name: Release ${{ env.TAG_NAME }}
          draft: false

      - name: build seeed-recomputer-r100x image
        uses: benc-uk/workflow-dispatch@v1.1
        with:
          workflow: seeed-yocto-boards-build
          token: ${{ secrets.GITHUB_TOKEN }}
          inputs: >-
                {
                    "machine": "seeed-recomputer-r100x-mender", 
                    "build_type": "${{ inputs.build_type }}", 
                    "disable_upload_downloads": ${{ inputs.disable_upload_downloads }}, 
                    "clean_build": ${{ inputs.clean_build }}, 
                    "release_url": "${{ steps.create_release.outputs.upload_url }}"
                }

      - name: build seeed-reterminal image
        uses: benc-uk/workflow-dispatch@v1.1
        with:
            workflow: seeed-yocto-boards-build
            token: ${{ secrets.GITHUB_TOKEN }}
            inputs: >-
                {
                    "machine": "seeed-reterminal-mender",
                    "build_type": "${{ inputs.build_type }}",
                    "disable_upload_downloads": ${{ inputs.disable_upload_downloads }},
                    "clean_build": ${{ inputs.clean_build }},
                    "release_url": "${{ steps.create_release.outputs.upload_url }}"
                }

      - name: build seeed-reterminal-DM image
        uses: benc-uk/workflow-dispatch@v1.1
        with:
            workflow: seeed-yocto-boards-build
            token: ${{ secrets.GITHUB_TOKEN }}
            inputs: >-
                {
                    "machine": "seeed-reterminal-DM-mender",
                    "build_type": "${{ inputs.build_type }}",
                    "disable_upload_downloads": ${{ inputs.disable_upload_downloads }},
                    "clean_build": ${{ inputs.clean_build }},
                    "release_url": "${{ steps.create_release.outputs.upload_url }}"
                }

      - name: build seeed-rerouter-cm4 image
        uses: benc-uk/workflow-dispatch@v1.1
        with:
            workflow: seeed-yocto-boards-build
            token: ${{ secrets.GITHUB_TOKEN }}
            inputs: >-
                {
                    "machine": "seeed-rerouter-cm4-mender",
                    "build_type": "${{ inputs.build_type }}",
                    "disable_upload_downloads": ${{ inputs.disable_upload_downloads }},
                    "clean_build": ${{ inputs.clean_build }},
                    "release_url": "${{ steps.create_release.outputs.upload_url }}"
                }

      - name: build seeed-recomputer-r2x image
        uses: benc-uk/workflow-dispatch@v1.1
        with:
            workflow: seeed-yocto-boards-build
            token: ${{ secrets.GITHUB_TOKEN }}
            inputs: >-
                {
                    "machine": "seeed-recomputer-r2x-mender",
                    "build_type": "${{ inputs.build_type }}",
                    "disable_upload_downloads": ${{ inputs.disable_upload_downloads }},
                    "clean_build": ${{ inputs.clean_build }},
                    "release_url": "${{ steps.create_release.outputs.upload_url }}"
                }
